/* h1 {
    color: red
} */
.index {
    background-image: url(../images/playlist2.JPEG);
    background-size: cover;
    height: 700px;

   
}
.map {
    background-image: url(../images/playlist3.JPEG);
    background-size: cover;
    height: 700px;

}

.playlist {
    background-image: url(../images/playlist4.JPEG);
    background-size: cover;
    height: 700px;

}


.user {
    text-align: center;
    margin-top: 0;
}

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#content {
    color: black;
}